<h1>Welcome system administrator!</h1>
<h2>Thank you for being a valued Jungle employee!</h2>
<li><%= link_to 'Products',  [:admin, :products] %></li>
<li><%= link_to 'Categories',  [:admin, :categories] %></li>




