// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}


.warning {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: #ffa5a5;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 20px;
  font-size: 0.8em;
  color: white;
}

.nav-item {
  color: black;
  line-height: 50px;
  float: right;
  margin-left: 30px;
}

.welcome {
  margin: auto;
  color: #777;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 50px;
}
